
.nav-items {
    height: 80px;
    background-color: #F072B6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-size: 35px;
    font-style: normal;
    color: gainsboro;

}

h1 {
    color: gainsboro;
    line-height: 1;
    text-decoration: underline;
    font-family: "Barlow Condensed-black-", sans-serif;
    font-weight: 900;
    font-size: 100px;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

h2 {
    color: rgb(189, 189, 223);
    font-size: 250%;
    line-height: 3;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "montserrat";
}

h3 {
    color: rgb(189, 189, 223);
    font-size: 150%;
    font-style: italic;

}


section,
.news,
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section img,
.news img,
.signup img {
    margin: 10px 0;
    border-radius: 8px
}

.connect div,
.jobevents div {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.connect img,
.jobevents img {
    margin: 0 10px;
    border-radius: 8px
}

.button {
    display: flex;
    justify-content: center;
    align-items: center
}

.button1 {
    background-color: rgb(214, 121, 214);
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    border: 2px solid gainsboro;
    transition-duration: 0.4s;
}

.button2 {
    background-color: rgb(214, 121, 214);
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    border: 2px solid gainsboro;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: gainsboro;
    color: white;
}

.button2:hover {
    background-color: gainsboro;
    color: white;
}

/* Background*/


.gradient {
    position: fixed; /* or absolute, depending on your layout needs */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #FFF886, #F072B6);
    transition: background 0.5s ease; /* Smooth transition effect */
    z-index: -1; /* Ensure it's behind content */
}



/* Font family*/

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }


.barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-condensed-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  